---
// Component imports
import Main from "../layouts/MainLayout.astro";
import Pagination from "@/components/ui/Pagination.astro";
// Utils
import type { PaginateFunction } from "astro";
import { GetSortedPosts } from "@/utils/content";
import PostPage from "@/components/PostPage.astro";

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const postCollections = await GetSortedPosts();
  return paginate(postCollections, { pageSize: 6 });
}
const { page } = Astro.props;
---

<Main>
  <div class="space-y-8">
    <PostPage page={page} />
    <Pagination page={page} />
  </div>
</Main>
