---
import AsukaConfig from "~/asuka.config";
import BaseHead from "../components/BaseHead.astro";
---

<html lang={AsukaConfig.locale}>
  <BaseHead />
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  html {
    overflow-x: hidden;
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  body {
    @apply bg-[var(--background-color)];
    overflow-x: hidden;
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
</style>
